<%= render 'management/tab' %>
<p id="notice"><%= notice %></p>

<h1>Consent Form Types</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Html text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @consent_form_types.each do |consent_form_type| %>
      <tr>
        <td><%= consent_form_type.description %></td>
        <td><%= consent_form_type.html_text %></td>
        <td><%= link_to 'Show', consent_form_type %></td>
        <td><%= link_to 'Edit', edit_consent_form_type_path(consent_form_type) %></td>
        <td><%= link_to 'Destroy', consent_form_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Consent Form Type', new_consent_form_type_path %>
<%= render 'management/tab-end' %>