<script>
  $( function() {
    var availableTags = [
      "ActionScript",
      "AppleScript",
      "Asp",
      "BASIC",
      "C",
      "C++",
      "Clojure",
      "COBOL",
      "ColdFusion",
      "Erlang",
      "Fortran",
      "Groovy",
      "Haskell",
      "Java",
      "JavaScript",
      "Lisp",
      "Perl",
      "PHP",
      "Python",
      "Ruby",
      "Scala",
      "Scheme"
    ];
    $( "#tags" ).autocomplete({
      source: availableTags
    });
  } );
    
    function bing(event){
    alert('this is a bing');
        event.preventDefault();
}
  </script>
<div class="ui-widget">
  <label for="tags">Tags: </label>
  <input id="tags">
    
    <a href="" onmousedown="bing(event);">BING</a>
</div>
 