<%= form_with(model: donation, local: true,class: "form-horizontal") do |form| %>
  <% if donation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(donation.errors.count, "error") %> prohibited this donation from being saved:</h2>

      <ul>
      <% donation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group field">  
        <div class="control-label col-sm-16">
            <%= form.label "Your Name :" %>
            <% if current_user.full_name.nil? ||current_user.full_name.strip =="" %>
                <%= form.text_field :full_name, class:"form-control",placeholder:"eg : John Smith " %>
            <% else %>
                <%= current_user.full_name %>
            <% end %>
        </div>
    </div>

    <div class="form-group field">  
        <div class="control-label col-sm-16">
            <%= form.label "Collect the donation between" %>
            <%= form.datetime_select :available_start %> and <%= form.datetime_select :available_end %>
        </div>
    </div>
<hr>

<h2>Retrieve Address</h2>
    <div class="form-group field">  
        <div class="col-sm-16">
            <%= form.text_field :retrieve_address, class:"form-control",placeholder:"eg : Broadway " %>
        </div>
         <div class="control-label col-sm-4">
            <%= form.label "Country/State/City :" %>&nbsp;<%= SupplyFoodConfiguration.get_favourite_location %>
        </div>
        
    </div>

    
    <div class="form-group field">  
        <div class="control-label col-sm-4">
            <%= form.label :phone  %>
        </div>
        <div class="col-sm-8">
            <%= form.text_field :phone, class:"form-control",placeholder:"eg : 999-999-9999 " %>
        </div>
    </div>
<hr>
<h2>Donation Goods</h2>
<div id="goods_sub_form">
    <%= form.fields_for :goods do |good| %>
    <% render "goods_fields", :form => good %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'add good',form, :goods %>
    </div>
</div>

<hr>

    <%= link_to "","send mongo", remote: true, class: 'btn btn-xs btn-success',  onmousedown: "addDonation(event);"  %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
