<p id="notice"><%= notice %></p>

<p>
  <strong>Available start:</strong>
  <%= @donation.available_start %>
</p>

<p>
  <strong>Available end:</strong>
  <%= @donation.available_end %>
</p>

<p>
  <strong>Donor:</strong>
  <%= @donation.donor %>
</p>

<p>
  <strong>Volunteer:</strong>
  <%= !@donation.volunteer.nil? ? @donation.volunteer : "unassigned" %>
</p>


