<p id="notice"><%= notice %></p>

<h1>Donation Campaigns</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Date start</th>
      <th>Date end</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @donation_campaigns.each do |donation_campaign| %>
      <tr>
        <td><%= donation_campaign.address %></td>
        <td><%= donation_campaign.date_start %></td>
        <td><%= donation_campaign.date_end %></td>
        <td><%= link_to 'Show', donation_campaign %></td>
        <td><%= link_to 'Edit', edit_donation_campaign_path(donation_campaign) %></td>
        <td><%= link_to 'Destroy', donation_campaign, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Donation Campaign', new_donation_campaign_path %>
