<%= form_with(model: good, local: true) do |form| %>
  <% if good.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(good.errors.count, "error") %> prohibited this good from being saved:</h2>

      <ul>
      <% good.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Expiration_date %>
    <%= form.date_select :Expiration_date %>
  </div>

  <div class="field">
    <%= form.label :measure_unit_id %>
    <%= form.text_field :measure_unit_id %>
  </div>

  <div class="field">
    <%= form.label :good_type_id %>
    <%= form.text_field :good_type_id %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.text_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :donation_id %>
    <%= form.text_field :donation_id %>
  </div>

  <div class="field">
    <%= form.label :address_id %>
    <%= form.text_field :address_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
