// Custom bootstrap variables must be set or imported *before* bootstrap.
//@import "bootstrap-sprockets";
/*
*= require jquery-ui
*/

@import "jquery-ui";
@import "tree_view";
@import "bootstrap";
@import "font-awesome";
@import "jstree-default";


//business types
.nested_good_types {
  margin-left: 30px;
}

.nested_good_types .nested_good_types .nested_good_types .nested_good_types {
  margin-left: 0;
}

// sidebar
/* The sidebar menu */

.sidenav {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 250px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #111;
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
    background-color: #255688;
}

/* The navigation menu links */

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: lightgray;
    display: block;
}

/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */

.main {
    margin-left: 160px;
    /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

//custom
body {
    background-image: asset-url("homeBackground.jpeg");
}

.parallax {
    /* The image used */
    background-image:  asset-url("homeBackground.jpeg");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding-left: 250px;
    padding-top: 0px;padding-bottom: 0px;
}
.jumbotron h1{
    font-size: 30px;
    margin-top: 3px;
}
.jumbotron h2{
    font-size: 20px;
    margin-top: 3px;
}

.dropdown-menu {
    background-color: #255688;
}

#navBarStats {
    padding: 20px 0px 30px 15px;
    color: black;
}

 //navbar
 #sfnavbar {
     background-color: #255688;
     padding-left:250px;
     z-index:0;
 
 }

#main_container {
    padding-left:30px;
}
#grid_container {
    padding-left:25px;
    min-height: 480px;
}
//#sfnav div  ul {
//    list-style: none;
//}

//#sfnav-tabs > li {
//     background-color: #255688;
//     background-image: none;
//     background-repeat: no-repeat;
//     color: white;
//
//}
//#nav-tabs > li > a {
//     text-decoration: none;
//     font-size: 15px;
//     color: lightgray;
//     display: block;
// }
//
//nav-tabs > li > a:hover {
//     color: black;
// }
//nav-tabs {
//    border-bottom-color: darkgray;
//    border-top-color: darkgray;
//    border-left-color: darkgray;
//    border-right-color: darkgray;
//}
ul.nav a:hover { color: #fff !important; }
ul.nav a.active:hover { color: black !important; }

.jumbotron hr {
    border-color: darkgray;
}

// pagination

.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }

.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }

.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em; }
  .flickr_pagination .disabled {
    color: #aaaaaa; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; }
  .flickr_pagination a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #003366;
      background: #0063dc;
      color: white; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }

//Autocomplete

ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
    }
  }
}
// custom on SupplyFood
#sf_footer {
    margin: 10px;
}

//google maps
       #map {
        height: 400px;
        width: 100%;
       }
