<p id="notice"><%= notice %></p>

<h1>Consent Forms</h1>

<table>
  <thead>
    <tr>
      <th>Consent form type</th>
      <th>Person</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @consent_forms.each do |consent_form| %>
      <tr>
        <td><%= consent_form.consent_form_type %></td>
        <td><%= consent_form.user %></td>
        <td><%= link_to 'Show', consent_form %></td>
        <td><%= link_to 'Edit', edit_consent_form_path(consent_form) %></td>
        <td><%= link_to 'Destroy', consent_form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Consent Form', new_consent_form_path %>
