

<nav class="navbar navbar-expand-lg navbar-light " id="sfnavbar" style="margin-bottom: 0px;">
  <div class="collapse navbar-collapse navbar-left" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item"><%= link_to 'Home', home_path, class:"btn btn-xs btn-primary" %></li>
          <li class="nav-item"><%= link_to 'About', about_path, class:"btn btn-xs btn-primary" %></li>
          <li class="nav-item"><%= link_to 'Contact', new_form_contact_path, class:"btn btn-xs btn-primary" %></li>
      </ul>

  </div>
    
    
     <div class="navbar-right" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <% if current_user!=nil %>
          <li class="nav-item">
              
              <h5 style="margin-top:5px;">
              [<%=current_user.email%>]&nbsp;&nbsp;
              </h5></li>
        
          <li class="nav-item">
            <%=
            if !current_user.nil?
                link_to 'User', edit_user_registration_path(current_user.id)  , class:"btn btn-xs btn-primary pull-right" 
            end
            %></li>
        <% end %>
        <% if current_user.nil? %>
          <li class="nav-item"><%= link_to 'Sign Up', new_user_registration_path , class:"btn btn-xs btn-primary pull-right" %></li>
          <li class="nav-item"><%= link_to 'Sign In', new_user_session_path, class:"btn btn-xs btn-primary pull-right" %></li>
        <% else %>
          <li class="nav-item"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class:"btn btn-xs btn-primary pull-right" %></li>
        <% end %>

      </ul>

  </div>
</nav>
