<!DOCTYPE html>
<html class="gr__mladenplavsic_github_io gr__" lang="en" >
    
  <head>
    <title>Supply!Food</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application' %>      
<!--      #, media: 'all', 'data-turbolinks-track': 'reload' removed to solve the problem with jquery, turbolink and sprockets-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://s3.amazonaws.com/stitch-sdks/js/library/v3/stable/stitch.min.js"></script>  
      
    <%= javascript_include_tag 'application' %>
<!--      #, 'data-turbolinks-track': 'reload' removed to solve the problem with jquery, turbolink and sprockets-->
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Supply!Food - ending the hunger in the world. With you.</title>


  </head>

  <body  data-gr-c-s-loaded="true" style="margin-right: 0px;">
    
    <%= render 'layouts/sidenav' %>  
    <%= render 'layouts/navbar' %>
 
    <div class="jumbotron parallax" >
  
        <div class="container"  id="main_container" >
            <%= yield %>


        </div> 
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

        <%= render 'layouts/footer' %>
        
        <%= debug (params) if Rails.env.development? %>
        <%= debug(@posts) if Rails.env.development?%>
    </div>
      
      
  </body>
</html>
